<div class="blog-container">
    <small>{{name}}</small>
    <div class="title">
        <h1>
            {{#link-to 'blogs.page.detail' 1 id}} {{title}} {{/link-to}}
        </h1>
        <div>
            <span>
                by {{owner.fullName}}
                {{#link-to 'blogs.edit' id}} edit {{/link-to}}
            </span>
        </div>
        <small>{{creationDate}}</small>
    </div>
    <div class="message">
        <i>
            "{{message}}"
        </i>
    </div>
    <div>
        {{#link-to 'blogs.page.detail.comments'}} show comments {{/link-to}}
    </div>
    <div class="comments">
        {{outlet}}
    </div>
</div>
