<div class="header">
    <div class="container">
        <div class="text-left">
            <h2>Blogr</h2>
        </div>
        <div class="text-right">
            {{#if user}}
                {{user.firstName}} {{user.lastName}}
                <a {{action 'logout'}}>logout</a>
            {{else}}
                {{#link-to 'login'}}login{{/link-to}}
            {{/if}}
        </div>
    </div>
</div>
<div class="body">
    <div class="container">
        {{outlet}}
    </div>
</div>
<div class="footer">
    <h2>Footer</h2>
</div>
