<div class="blogs">
    <div class="list">
        <div class="title">
            <h2>{{name}}</h2>
        </div>
        <ul>
            <li class="special">
                {{#link-to 'blogs.create'}} Create New Blog {{/link-to}}
            </li>
            {{#each blog in controller}}
                <li>
                    {{#link-to 'blogs.detail' blog.id}}
                        {{blog.title}}
                        {{blog.message}}
                    <small>by {{blog.owner.firstName}}</small>
                    {{/link-to}}
                </li>
            {{/each}}
        </ul>
        <div class="">
            <button type="button" {{action 'previous'}}>previous</button>
            {{page}}
            <button type="button" {{action 'next'}}>next</button>
        </div>
    </div>
    <div class="detail">
        {{outlet}}
    </div>
</div>
