<div class="container">
    <div class="login-area local-form">
        <form {{action "validateParams" credential on="submit"}}>
            <div class="error">
                {{#if errorMessage}}
                  {{errorMessage}}
                {{/if}}
            </div>
            <div class="input">
                <label>
                    User Name
                </label>
                {{input value=credential.username type="text"}}
            </div>
            <div class="input">
                <label>
                    Password
                </label>
                {{input value=credential.password type="password"}}
            </div>
            <button type="submit">login</button>
            <button type="bottunm" {{action 'cancel'}}>cancel</button>
        </form>
    </div>
</div>
{{outlet}}
